body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.publisher,
.scheduled-posts {
    padding: 1rem;
    box-sizing: border-box;
}

.scheduled-posts ul {
    padding-left: 0;
}

.scheduled-posts li {
    list-style: none;
    margin-bottom: 1rem;
}

.image-container {
    position: relative;
}

.image-container .alt-indicator {
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    background-color: #333;
    color: white;
}

@media only screen and (max-width: 480px) {
    body {
        flex-direction: column;
    }
}