body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(100vh - 3.875rem);
  justify-content: start;
  padding-top: 3.875rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: #f6f6ff;
  overflow-y: hidden;
}

header {
    padding: 1.25rem;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 1.125rem;
}

main {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    height: calc(100vh - 3.875rem);
    overflow-y: hidden;
}

h2 {
    margin-bottom: .575rem;
    margin-top: .425rem;
    font-size: 1rem;
}

.meta {
    font-size: .775rem;
    font-family: 'IBM Plex Mono', monospace;
    margin: .25rem 0 0 0;
    display: inline-flex;
    color: #494949;
}

.notification {
  background-color: #c3fbc3;
  width: max-content;
  padding: 1rem 1.25rem;
  border-radius: .25rem;
  position: fixed;
  top: 1rem;
  font-size: .9125rem;
  margin: 0;
  right: 1rem;
  box-shadow: 0px 12px 12px -4px rgba(20, 85, 10, 0.08);
  border: 1px solid rgba(0,0,0,0.05);
  transform: translateX(-50%);
  right: 50%;
  left: 50%;
}

li {
    list-style: none;
}

form,
.scheduled-posts {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  margin: .5rem 0;
}

form label {
    font-size: 1rem;
    margin: .75rem 0 .5rem 0;
    font-weight: 700;
}

form label:first-of-type {
    margin-top: 0;
}

form input,
form textarea {
    margin-bottom: .325rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    border: 1px solid rgba(99,100,255,.75);
    box-shadow: 4px 4px 0px 0px rgba(99,100,255,.25);
    border-radius: .25rem;
    padding: .5rem;
    font-size: 1rem;
}

form input {
  max-width: 320px;
}

form input[type="file"] {
    box-shadow: none;
    border: none;
    padding: 0;
}

form button {
  width: fit-content;
  margin: .75rem 0;
  padding: .625rem .75rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
  background: rgb(99,100,255);
  background: linear-gradient(135deg, rgba(99,100,255,1) 0%, rgba(91,92,236,1) 100%);
  border-radius: .25rem;
  border: none;
  color: white;
  font-size: 1rem;
}

form textarea {
    height: 240px;
    padding: .75rem;
}

form p:first-of-type {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 2rem;
    font-size: .925rem;
    margin-bottom: 1rem;
}

.scheduled-posts {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.scheduled-posts li img {
    display: block;
    width: 50%;
    margin-top: .25rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,0.1);
}

.scheduled-posts ul {
    border: 1px solid rgb(99,100,255);
    padding: 1rem 1.5rem;
    background-color: white;
    box-sizing: border-box;
    border-radius: .25rem;
    height: 83vh;
    overflow: scroll;
    margin: 0;
}

.scheduled-posts li {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 1.25rem;
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        overflow-y: initial;
        padding-bottom: 1.125rem;
        height: initial;
    }

    body {
      overflow-y: initial;
      height: initial;
    }

    .scheduled-posts {
        height: initial;
        overflow: initial;
    }

    .scheduled-posts ul {
        height: initial;
        overflow: initial;
    }

    .scheduled-posts li img {
        width: 100%;
    }
}
