body {
    display: flex;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    justify-content: center;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    left: 0;
    right: 0;
}

header h1 {
    margin: 0;
    font-size: 1.25rem
}

h2 {
    font-size: 1.125rem;
    margin: 0 0 .25rem 0;
}

.meta {
    font-size: .75rem;
    font-family: 'IBM Plex Mono', monospace;
}
.cw {
    font-size: .875rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.publisher,
.scheduled-posts {
    padding: 1rem;
    box-sizing: border-box;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.publisher form {
    display: flex;
    flex-direction: column;
}

.publisher input,
.publisher textarea {
     margin-bottom: 1.125rem;
}

.publisher label {
    margin-bottom: .5rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.publisher form input:not([type='file']),
.publisher form textarea {
    padding: .75rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1rem;
    border-radius: .25rem;
    border: none;
    outline: 1px solid rgba(0,0,0,1);
    box-shadow: 4px 4px 0px 0 rgba(0,0,0,1);
}

.publisher * {
    width: 100%;
    box-sizing: border-box;
}

.scheduled-posts ul {
    padding-left: 0;
    margin-top: .225rem;
}

.scheduled-posts li {
    list-style: none;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 4px 4px 0px 0 rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.scheduled-posts form input {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ac5252;
}

.scheduled-posts input:hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
}

.image-container img {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .25rem;
}

.image-container .alt-indicator {
    position: absolute;
    bottom: .625rem;
    left: .25rem;
    background-color: #333;
    color: white;
    padding: .25rem;
    text-transform: uppercase;
    font-size: .75rem;
    border-radius: .25rem;
}

@media only screen and (max-width: 480px) {
    body {
        flex-direction: column;
    }
}