<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🗓️ Edit Mastodon Post</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=IBM+Plex+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>🗓️ Edit Mastodon Post</h1>
        <a href="{{ profile_url }}" target="_blank" rel="noopener noreferrer">@{{ username }}</a>
    </header>

    <main class="editMain">
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="notification">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="form-container">
            <!-- Form for posting status with file upload and scheduling -->
            <form method="post" enctype="multipart/form-data">
                <label for="status">Your Message</label>
                <textarea id="status" name="status" required>{{ post.content }}</textarea>

                <label for="image">Upload Image (optional)</label>
                <input type="file" id="image" name="image">

                <label for="image_alt">Image Alt Text</label>
                <input type="text" id="image_alt" name="image_alt" value="{{ post.image_alt_text }}">

                <label for="cw_text">Content Warning (Optional)</label>
                <input type="text" id="cw_text" name="cw_text" value="{{ post.cw_text }}">

                <label for="schedule_time">Schedule Time</label>
                <input type="datetime-local" id="schedule_time" name="schedule_time" value="{{ post.schedule_time.strftime('%Y-%m-%dT%H:%M') }}">

                <button type="submit">Save Changes</button>
            </form>
        </div>

    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>