<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🗓️ Mastodon Scheduler</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=IBM+Plex+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="publisher">
      <h1>Post to Mastodon</h1>
      <form method="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
         <input type="text" name="content_warning" placeholder="Content warning"><br>
         <textarea name="content" placeholder="What's happening?"></textarea><br>
         Schedule Post (optional, in your local time):<br>
         <input type="datetime-local" name="scheduled_at" placeholder="YYYY-MM-DDTHH:MM"><br>
         <input type="file" name="image" accept="image/*"><br>
         <input type="text" name="alt_text" placeholder="Enter image description (alt text)"><br>
         <input type="submit" value="Toot!">
      </form>
  </div>
  <div class="scheduled-posts">
    <h2>Scheduled Posts</h2>
    <ul>
        {% for status in scheduled_statuses %}
            <li>
                <!-- Display content -->
                {{ status['params']['text'] }}<br>
                <!-- Display images with alt text as title -->
                {% for media in status.get('media_attachments', []) %}
                    <div class="image-container">
                        <img src="{{ media.url }}" title="{{ media.description }}" alt="Image attached to post" style="max-width: 100px; height: auto;">
                        {% if media.description %}
                            <span class="alt-indicator">Alt</span>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <!-- Display content warning if available -->
                {% if status['params']['spoiler_text'] %}
                    <strong>Content Warning:</strong> {{ status['params']['spoiler_text'] }}<br>
                {% endif %}
                <strong>Scheduled for:</strong> {{ status['scheduled_at'] }}<br>
                <!-- Cancel button -->
                <form action="/cancel/{{ status['id'] }}" method="post">
                    <input type="submit" value="Cancel">
                </form>
            </li>
        {% endfor %}
    </ul>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>