<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🗓️ Mastodon Scheduler</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <header>
        <h1>🗓️ Mastodon Scheduler</h1>
        <nav>
            <button class="mobileNav btnIcon" aria-label="Expand mobile navigation" aria-expanded="false" id="mobileNavButton"></button>
            <ul id="mobileNavMenu">
                <li><a href="https://opencollective.com/scidsg/contribute/mastodon-scheduler-supporter-69294">❤️ Donate</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="user-info">
                <a href="{{ profile_url }}" class="user-profile-link">
                    {% if user_avatar %}
                        <img src="{{ user_avatar }}" alt="User Avatar" class="user-avatar">
                    {% endif %}
                    <span class="username">{{ username }}</span>
                </a>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="publisher">
        <form method="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
            <label for="content">What's on Your Mind?</label>
            <textarea id="content" name="content" maxlength="500" oninput="updateCharCount()" required="required"></textarea>
            <label for="content_warning">Content Warning</label>
            <input type="text" id="content_warning" name="content_warning" maxlength="500" oninput="updateCharCount()">
            <div id="charCount">0/500</div>
            <label for="image">Add an Image</label>
            <input type="file" name="image" accept="image/*" onchange="toggleAltTextInput(this)">
            <div id="altTextContainer" style="display: none;">
                <label for="alt_text">Alt Text</label>
                <textarea id="altTextArea" type="text" name="alt_text" maxlength="1500" oninput="updateCharCount()"></textarea>
                <div id="altTextCharCount">0/1500</div>
            </div>
            <label for="scheduled_at">Schedule Post</label>
            <input type="datetime-local" id="scheduled_at" name="scheduled_at">
            <input type="submit" value="Toot!">
        </form>
    </div>
    <div class="scheduled-posts">
        <h2>
            {% if scheduled_statuses|length == 1 %}
                1 Scheduled Post
            {% else %}
                {{ scheduled_statuses|length }} Scheduled Posts
            {% endif %}
        </h2>
        <ul>
            {% if scheduled_statuses %}
                {% for status in scheduled_statuses %}
                <li>
                    <!-- Display content -->
                    {{ status['params']['text'] }}<br>
                    <!-- Display images with alt text as title -->
                    {% for media in status.get('media_attachments', []) %}
                    <div class="image-container">
                        <img src="{{ media.url }}" title="{{ media.description }}" alt="Image attached to post" style="max-width: 100px; height: auto;">
                        {% if media.description %}
                        <span class="alt-indicator">Alt</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <!-- Display content warning if available -->
                    {% if status['params']['spoiler_text'] %}
                    <span class="meta cw">Content Warning: {{ status['params']['spoiler_text'] }}</span>
                    {% endif %}
                    <span class="meta">Scheduled for {{ status['scheduled_at'] | datetime }}</span>
                    <!-- Cancel button -->
                    <form action="/cancel/{{ status['id'] }}" method="post">
                        <input type="submit" value="Cancel">
                    </form>
                </li>
                {% endfor %}
            {% else %}
                <li class="empty-list">
                    <img src="{{ url_for('static', filename='empty-state.png') }}">
                    No posts scheduled
                </li>
            {% endif %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>