<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6364FE">
    <title>Settings - 🗓️ Mastodon Scheduler</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" sizes="512x512">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="form">
    <header>
        <h1>🗓️ Mastodon Scheduler</h1>
        <nav>
            <button class="mobileNav btnIcon" aria-label="Expand mobile navigation" aria-expanded="false" id="mobileNavButton"></button>
            <ul id="mobileNavMenu">
                <li><a href="https://opencollective.com/scidsg/contribute/mastodon-scheduler-supporter-69294">❤️ Donate</a></li>
                <li><a href="/">Scheduler</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="user-info">
                <a href="{{ profile_url }}" class="user-profile-link">
                    {% if user_avatar %}
                        <img src="{{ user_avatar }}" alt="User Avatar" class="user-avatar">
                    {% endif %}
                    <span class="username">{{ username }}</span>
                </a>
            </div>
        </nav>
    </header>
    <h1>Settings</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('settings') }}">
        <label for="client_key">Client Key</label>
        <input type="text" name="client_key" value="{{ user.client_key if user.client_key else '' }}" required>

        <label for="client_secret">Client Secret</label>
        <input type="text" name="client_secret" value="{{ user.client_secret if user.client_secret else '' }}" required>

        <label for="access_token">Access Token</label>
        <input type="text" name="access_token" value="{{ user.access_token if user.access_token else '' }}" required>

        <label for="api_base_url">API Base URL</label>
        <input type="text" name="api_base_url" value="{{ user.api_base_url if user.api_base_url else '' }}" required>

        <input type="submit" value="Save Settings">
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
