<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6364FE">
    <title>Settings - 🗓️ Mastodon Scheduler</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" sizes="512x512">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body id="form" class="withHeader">
    <header>
        <h1><a href="/">🗓️ Mastodon Scheduler</a></h1>
        <nav>
            <button class="mobileNav btnIcon" aria-label="Expand mobile navigation" aria-expanded="false" id="mobileNavButton"></button>
            <ul id="mobileNavMenu">
                <li><a href="https://opencollective.com/scidsg/contribute/mastodon-scheduler-supporter-69294">❤️ Donate</a></li>
                <li><a href="/">Scheduler</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="user-info">
                <a href="{{ profile_url }}" class="user-profile-link">
                    {% if user_avatar %}
                    <img src="{{ user_avatar }}" alt="User Avatar" class="user-avatar">
                    {% endif %}
                    <span class="username">{{ username }}</span>
                </a>
            </div>
        </nav>
    </header>
    <h1>Settings</h1>
    <p>From your Mastodon account, go to: Preferences > Development and create a new app with the scopes: <span class="mono">read:accounts</span>, <span class="mono">read:statuses</span>, <span class="mono">write:statuses</span>, <span class="mono">write:media</span>, <span class="mono">crypto</span>.</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('settings') }}">
        {{ form.hidden_tag() }}
        <!-- Timezone Selection -->
        <label for="timezone">Time Zone</label>
        {{ form.timezone(id='timezone') }}
        {% for error in form.timezone.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <label for="client_key">Client Key</label>
        {{ form.client_key(id='client_key') }}
        {% for error in form.client_key.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <label for="client_secret">Client Secret</label>
        {{ form.client_secret(id='client_secret') }}
        {% for error in form.client_secret.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <label for="access_token">Access Token</label>
        {{ form.access_token(id='access_token') }}
        {% for error in form.access_token.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <label for="api_base_url">API Base URL</label>
        {{ form.api_base_url(id='api_base_url') }}
        {% for error in form.api_base_url.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>