<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings - 🗓️ Mastodon Scheduler</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=IBM+Plex+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body id="form">
    <header>
        <h1>🗓️ Mastodon Scheduler</h1>
        <nav>
            <ul>
                <li><a href="/">Scheduler</a></li>
                <li><a href="/logout">Logout</a></li>
                <li>
                    <div class="user-info">
                        <a href="{{ profile_url }}" class="user-profile-link">
                            {% if user_avatar %}
                                <img src="{{ user_avatar }}" alt="User Avatar" class="user-avatar">
                            {% endif %}
                            <span class="username">{{ username }}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Settings</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('settings') }}">
        <label for="client_key">Client Key</label>
        <input type="text" name="client_key" id="client_key" required>

        <label for="client_secret">Client Secret</label>
        <input type="text" name="client_secret" id="client_secret" required>

        <label for="access_token">Access Token</label>
        <input type="text" name="access_token" id="access_token" required>

        <label for="api_base_url">API Base URL</label>
        <input type="text" name="api_base_url" id="api_base_url" required>

        <input type="submit" value="Save Settings">
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
